<h1>Sample User Posts App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Sample Users Posts App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activationToken,
                                                    email: @user.email) %>